vae_solutions/data/
# gan/data_gan/
# gan/data_ls_gan/
# gan/data_wgan_gp/
datasets/

gan/data_gan.old/
gan/data_ls_gan.old/
gan/data_wgan_gp.old/

gan_solutions/data_gan/
gan_solutions/data_ls_gan/
gan_solutions/data_wgan_gp/
__pycache__

diffusion_solutions/data_ddim/
diffusion_solutions/data_ddpm/
diffusion_solutions/epoch_199.pth

venv/
.idea/
.ipynb_checkpoints/

vae/data/cifar-10-batches-py/batches.meta
vae/data/cifar-10-batches-py/data_batch_1
vae/data/cifar-10-batches-py/data_batch_2
vae/data/cifar-10-batches-py/data_batch_3
vae/data/cifar-10-batches-py/data_batch_4
vae/data/cifar-10-batches-py/data_batch_5
vae/data/cifar-10-batches-py/readme.html
vae/data/cifar-10-batches-py/test_batch

vae/data/cifar-10-python.tar.gz